.topOfForm {
	background-image: url(images/FotballTR.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.headerBackground {
	background-image:url(images/BackgroundHeaderFotball.jpg);
}