.topOfForm {
	background-image: url(images/Club.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.headerBackground {
	background-image:url(images/BackgroundHeaderInnebandy.jpg);
}